.footer{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 3%;
    height: 100%;
    background-color: #CD99C8;
}
.footer-logo h1{
    color: rgb(255, 255, 255);
}
.footer-item ul{
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
    cursor: pointer;
}
.footer-item ul li{
    padding-top: 1%;
    font-size: 20px;
    font-weight: 700;
}
.footer-item ul li:hover{
    color: rgb(61, 59, 59);
}
.footer-input{
    padding-left: 5%;
    width: 70%;
    height: 100%;
    border-radius: 15px;
    font-size: 25px;
    border: none;
    background-color: rgba(211, 211, 211, 0.438);
}
.footer-input:focus{
    outline: none;
    background-color: white;
    transition: .5s linear;
    border: 1px solid lightgray;
}
.btn-danger{
    width: 25%;
    height: 100%;
    margin-left: 5px;
    margin-bottom: 2%;
    text-align: center;
    padding: 0;
}
.footer-search{
    margin-top: 2%;
    justify-content: space-between;
}
.footer-search div{
    position: relative;
    top: 30%;
    height: 25%;
}
@media screen and (max-width:768px) {
    .footer .col-4{
        width: 100%;
        height: 100%;
    }
    .footer-input{
        height: 8vh;
    }
    
}